body {
color: rgb(0, 0, 0);
}

.titre {
	background-image: url("../images/test.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 150px;
}
h1 {
	text-align: center;
	color: rgb(11, 137, 191);
	padding: 10px 0;
	font-size: 50px;
	margin: 0 ;
}

.présentation {
background-image: url("../images/blanc.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
padding-bottom: 80px;

}

form {
	background: white;
	padding: 20px;
	width: 800px;
	margin: auto;
}

legend {
	color: rgb(11, 137, 191);
	font-style: italic;
	font-size: 32px;
	font-weight: 600;
}

fieldset {
	margin: 20px;
	border: 3px solid whitesmoke;
}

.textfield
{
	font-style: italic; 
}

.textarea {
	margin: auto;
}