body {
color: rgb(0, 0, 0);
}
h1 {
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 50px 0;
	font-size: 50px;
	margin: auto ;
}
.photo {
	text-align: center;
}
h2 {
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 50px 0;
	font-size: 50px;
	margin: auto ;
}

.présentation {
background-image: url("../images/fondnoir1.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
padding-bottom: 80px;

}

form {
	background: white;
	padding: 20px;
	width: 800px;
	margin: auto;
}

legend {
	color: rgb(11, 137, 191);
	font-style: italic;
	font-size: 32px;
	font-weight: 600;
}

fieldset {
	margin: 20px;
	border: 3px solid whitesmoke;
}

.textfield
{
	font-style: italic; 
}

.textarea {
	margin: auto;
}