body {
	color: rgb(0, 0, 0);
	background-image: url("../images/fondnoir1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 50px 0;
	font-size: 2vw;
	margin: auto ;
}
.photo {
	padding-top:16px;
	padding-left:1vw;
	width: 30px;
	height: 30px;
}

#conteneur {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	row-gap: 2vw;
	align-content: space-evenly;
	flex-wrap: wrap;
}
#pp {
	height: auto;
	padding-top:7px;
}

.representation {
	display: block;
	margin: auto;
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	padding-bottom: 4vw;
}

h2 {
	text-align: center;
	color: rgb(255, 255, 255);
	padding-top: 100px;
	font-size: 50px;
	margin: auto;
	padding-bottom: 2vw;

}

h3 {
	text-align: center;
	color: white;
	font-size: 2vw;
	padding-top: 2vw;
	padding-bottom: 2vw;
	text-decoration: underline rgb(255, 255, 255);
}
.accroche {
	width: 50%;
	margin-left: 23%;
	border: 2vw inset white ;
}
p {
	color: white;
	text-align: center;
	font-size: 2vw;

}
form {
	max-width: fit-content;
	background: rgb(255, 255, 255, 0.1);
	color: rgb(255, 255, 255);
	padding: 1vw 2vw 2vw 2vw;	
	border-radius: 30px;
	line-height: 3vw;
	font-size: 1.3vw;
}

#technologies {
	padding-right: 3vw;
}

#coordonnees {
	line-height: 3.3vw;
}
#expp {
	padding-right: 4.5vw;
	margin-left: 5vw;
}
legend {
	color: rgb(255, 255, 255);
	font-style: italic;
	font-size: 3vw;
}

fieldset {
	margin: 3%;
	border: 3px solid rgb(150, 152, 153);
}

.textfield
{
	font-style: italic; 
}

.nav {
	width: 100%;
	height: 65px;
	position: fixed;
	line-height: 65px;
	display: block;
}

.nav div.logo {
	float: left;
	height: 65px;
}

.nav div.main_list {
	height: 65px;
	float: right;
}

.nav div.main_list ul ,.nav div.logo ul{
	width: 100%;
	height: 65px;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav div.main_list ul li , .nav div.logo ul li{
	width: 2pw;
	height: 65px;
	padding: 0;
	padding-right: 2vw;
}

.nav div.main_list ul li a , .nav div.logo ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 1.5vw;
}
.nav div.logo ul li p{
	color: #fff;
	font-size: 1.5vw;
	Margin:0;
}

.nav div.main_list ul li a:hover , .nav div.logo ul li a:hover{
	color: rgb(11, 137, 191);
}

.affix {
	padding: 0;
	background-color: #111;
}

.telechargement {
	color: white;
	font-size: 1vw;
	margin-top:2vw;
	margin-bottom:1vw;
	margin-left: 38%;
	margin-right: 38%;
	text-align: center;
	border: 3px ridge white;
	padding :1vw;
}

.textarea {
	width : 40vw;
	resize: none;
}